<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-10">
        <h1>Books</h1>
        <hr />
        <br /><br />
        <button
          type="button"
          class="btn btn-success btn-sm"
          v-b-modal.book-modal
        >
          Add Book
        </button>
        <br /><br />
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Author</th>
              <th scope="col">Read?</th>
              <th scope="col">Last Updated</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(book, index) in books" :key="index">
              <td>{{ book.title }}</td>
              <td>{{ book.author }}</td>
              <td>
                <span v-if="book.read">Yes</span>
                <span v-else>No</span>
              </td>
              <td>{{ book.last_updated }}</td>
              <td>
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-warning btn-sm">
                    Update
                  </button>
                  <button type="button" class="btn btn-danger btn-sm">
                    Delete
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <b-modal ref="addBookModal" id="book-modal" title="Add a new book">
      <b-form @submit.stop.prevent="onSubmit" class="w-100" id="newBookForm">
        <b-form-group
          id="form-title-group"
          label="Title:"
          label-for="form-title-input"
        >
          <b-form-input
            id="form-title-input"
            type="text"
            v-model="addBookForm.title"
            required
            placeholder="Enter title"
          >
          </b-form-input>
        </b-form-group>
        <b-form-group
          id="form-author-group"
          label="Author:"
          label-for="form-author-input"
        >
          <b-form-input
            id="form-author-input"
            type="text"
            v-model="addBookForm.author"
            required
            placeholder="Enter author"
          >
          </b-form-input>
        </b-form-group>
        <b-form-group id="form-read-group">
          <b-form-checkbox-group v-model="addBookForm.read" id="form-checks">
            <b-form-checkbox value="true">Read?</b-form-checkbox>
          </b-form-checkbox-group>
        </b-form-group>
        <b-form-group
          id="file-input-group"
          label="Your PSA Files:"
          label-for="file-input"
        >
          <b-form-file
            multiple
            accept=".psa"
            id="file-input"
            v-model="addBookForm.files"
            placeholder="Choose file"
            name="files"
            required
          ></b-form-file>
        </b-form-group>
        <p>{{ addBookForm.files.length }}</p>
        <div id="pagesForm" v-if="addBookForm.files.length > 0">
          <b-form-group
            id="form-pages"
            label-for="form-pages-input"
            v-for="(file, index) in addBookForm.files"
            :key="index"
          >
            <label for="form-pages-input">{{ file.name }} pages: </label>
            <b-form-input
              id="form-pages-input"
              type="number"
              v-model="addBookForm.numPages[index]"
              required
              placeholder="Enter number of pages"
            >
            </b-form-input>
          </b-form-group>
        </div>
        <div v-else>
          <p>No files selected</p>
        </div>
      </b-form>

      <template v-slot:modal-footer>
        <b-button variant="secondary" @click="onReset"> Cancel </b-button>

        <b-button variant="primary" @click="onSubmit"> Submit </b-button>
      </template>
    </b-modal>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      tabIndex: 0,
      isPreviousDisabled: true,
      isNextDisabled: false,
      books: [],
      addBookForm: {
        title: "",
        author: "",
        read: [],
        files: [],
        numPages: [],
      },
    };
  },
  methods: {
    getBooks() {
      const path = "http://localhost:5000/books";
      axios
        .get(path)
        .then((res) => {
          this.books = res.data.books;
        })
        .catch((error) => {
          //   eslint-disable-next-line
          console.error("error in getBooks", error);
        });
    },
    activeTabHeader(idx) {
      if (idx == 0) {
        return "New Book - Choose files";
      }
      return "New Book - Set Pages";
    },
    previousFormTab() {
      this.tabIndex--;
      this.isPreviousDisabled = true;
      this.isNextDisabled = false;
    },
    nextFormTab() {
      this.tabIndex++;
      this.isPreviousDisabled = false;
      this.isNextDisabled = true;
    },
    addBook(payload) {
      const path = "http://localhost:5000/books";
      axios
        .post(path, payload, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        })
        .then(() => {
          this.getBooks();
        })
        .catch((error) => {
          //   eslint-disable-next-line
          console.error("error in addBooks", error);
          this.getBooks();
        });
    },
    initForm() {
      this.addBookForm.title = "";
      this.addBookForm.author = "";
      this.addBookForm.read = [];
      this.addBookForm.files = [];
      this.addBookForm.pages = [];
    },
    onSubmit(evt) {
      evt.preventDefault();
      this.$refs.addBookModal.hide();
      let read = false;
      if (this.addBookForm.read[0]) read = true;
      const payload = {
        title: this.addBookForm.title,
        author: this.addBookForm.author,
        files: this.addBookForm.files,
        pages: this.addBookForm.numPages,
        last_updated: Date().toLocaleString(),
        read, // property shorthand
      };
      let formData = new FormData();
      let filePageObject = {};
      for (let i = 0; i < payload.files.length; i++) {
        let file = payload.files[i];
        let page = payload.pages[i];
        // formData.append("files[" + i + "]", file);
        filePageObject[file.name] = page;
        formData.append("files", file);
        // formData.append("pages", page);
      }
      formData.append("title", payload.title);
      formData.append("author", payload.author);
      formData.append("read", payload.read);
      formData.append("lastUpdated", payload.last_updated);
      formData.append("filePages", JSON.stringify(filePageObject));
      // eslint-disable-next-line
      console.log("...formData", ...formData);
      // eslint-disable-next-line
      //   console.log("filePageObject", filePageObject);
      this.addBook(formData);
      this.initForm();
    },
    onReset(evt) {
      evt.preventDefault();
      this.$refs.addBookModal.hide();
      this.initForm();
    },
  },
  created() {
    this.getBooks();
  },
};
</script>
