<template>
  <div>
    <b-form @submit="onSubmit" @reset="onReset" v-if="show" id="newUserForm">
      <b-form-group
        id="input-group-1"
        label="Email address:"
        label-for="input-1"
        description="We'll never share your email with anyone else."
      >
        <b-form-input
          id="input-1"
          v-model="userForm.email"
          type="email"
          placeholder="Enter email"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group
        id="input-group-2"
        label="Your First Name:"
        label-for="input-2"
      >
        <b-form-input
          id="input-2"
          v-model="userForm.name"
          placeholder="Enter name"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group
        id="input-group-3"
        label="Your Last Name:"
        label-for="input-3"
      >
        <b-form-input
          id="input-3"
          v-model="userForm.lastName"
          placeholder="Enter last name"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group
        id="input-group-4"
        label="Your Text Files:"
        label-for="input-4"
      >
        <b-form-file
          multiple
          accept=".txt"
          id="input-4"
          v-model="userForm.files"
          placeholder="Choose file"
          required
        ></b-form-file>
      </b-form-group>

      <b-button type="submit" variant="primary">Submit</b-button>
      <b-button type="reset" variant="danger">Reset</b-button>
    </b-form>
    <b-card class="mt-3" header="Form Data Result">
      <pre class="m-0">{{ userForm }}</pre>
    </b-card>
  </div>
</template>

<script>
export default {
  name: "FormTest",
  data() {
    return {
      userForm: {
        username: "",
        email: "",
        name: "",
        lastName: "",
        files: [],
      },
      show: true,
    };
  },
  methods: {
    onSubmit(event) {
      event.preventDefault();
      let formElement = document.querySelector("#newUserForm");
      let formData = new FormData(formElement);
      // eslint-disable-next-line
      console.log("...formData", ...formData);
      alert(JSON.stringify(this.userForm));
    },
    onReset(event) {
      event.preventDefault();
      // Reset our form values
      this.userForm.email = "";
      this.userForm.name = "";
      this.userForm.food = null;
      this.userForm.checked = [];
      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
